body {
    margin: 0 auto;
    font-family: "Arial";
}

header {
    margin: 0 auto;
    background: #31393e;
    width: 1370px;
    height: 70px;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.zag {
    padding-left: 10px;
    padding-top: 20px;
}

.zag p {
    color: #656f7a;
    font-size: 12px;
    margin-top: -4px;
    font-weight: bold;
    line-height: 14px;
}

.che {

    font-size: 30px;
    color: #ae4b5d;
    font-weight: bold;
}

.rry {
    font-size: 30px;
    color: #a5adb8;
    font-weight: bold;
}

.forma input {
    margin-top: -57px;
    margin-right: 54px;
    float: right;
    width: 195px;
    height: 30px;
    border-radius: 5px;
    background: #24272d;
    border: 1px solid #875f66;
}

.forma input::placeholder {
    color: #5b636e;
    padding: 10px 0 10px 9px;
}

.icon-search {
    width: 35px;
    height: 34px;
    margin-right: 8px;
    margin-top: -57px;
    float: right;
    color: #ffffff;
    background-color: #ae4b5d;
    border-radius: 5px;
}

